body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
}

header {
  background: #020617;
  padding: 30px;
  text-align: center;
}

section {
  padding: 20px 40px;
}

h1, h2 {
  color: #38bdf8;
}

ul {
  line-height: 1.8;
}

footer {
  background: #020617;
  text-align: center;
  padding: 15px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}
